* {
	list-style: none;
	text-decoration: none; 
}

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto;
}

.topbar {
	font-size: 100px;
	color: white;
	background: #5834EB;
	font-family: LandaSansMedium;
}

@font-face {
	font-family: LandaSansMedium;
	src: url(LandasansMedium-ALJ6m.otf);
}

.btnposition {
	position: absolute;
	left: 1470px;
	top: 3px;
	font-family: LandaSansMedium;
}

.sidebar {
	padding-left: 0;
	color: white;
	position: fixed;
	left: 0;
	background: #8481F5;
	box-sizing: border-box;
	height: 100%;
}

.sidebar ul a{
	color: white;
	display: block;
	height: 100%;
	width: 100%;
	line-height: 100px;
	font-size: 40px;
	font-family: LandaSansMedium;
	box-sizing: border-box;
	border-bottom: 5px solid #000000;
}

ul li:hover a{
	padding-left: 5px;
}

.iconPadding {
	padding-right: 10px;
}

#dashboardwindow {
	visibility: hidden;
}

#patronwindow {
	visibility: hidden;
}

#bookwindow {
	visibility: hidden;
}

.chart1position {
	position: absolute;
	left: 670px;
	top: 110px;
}

.chart2position {
	position: absolute;
	left: 670px;
	top: 450px;
}

.patronposition {
	position: absolute;
	left: 450px;
	top: 100px;
	font-family: LandaSansMedium;
}

.formp {
	position: absolute;
	left: 1230px;
	top: 75px;
}

.table1position {
	position: absolute;
	left: 450px;
	top: 150px;
	width: 1000px;
	height: 500px;
}

.formp2 {
	position: absolute;
	left: 1230px;
	top: 75px;
}

.table2position {
	position: absolute;
	left: 450px;
	top: 150px;
	width: 1000px;
	height: 500px;
}
