* {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}

.topbar {
	background: #5834EB;
	font-family: LandaSansMEdium-ALJ6m;
	color: white;
	font-size: 100px;
}

@font-face {
	font-family: LandaSansMedium-ALJ6m;
	src: url(LandasansMedium-ALJ6m.otf);
}

#exampleModalLongTitle {
	color: black;
	font-size: 40px;
}

#exampleModalBodyLongTitle {
	color: black;
	font-size: 30px;
}

.topbartitle {
	font-family: LandaSansMEdium-ALJ6m;
	color: #FFFFFF;
	font-size: 60px;
}

.dashboard {
	background: #8481F5;
	border: 2px solid #530D0D;
	box-sizing: border-box;
	font-family: LandaSansMEdium-ALJ6m;
	color: #FFFFFF;
	height: auto;
}

.dashboardlogo {
	background-image: url('../img/dashboard.svg');
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.sidebar {
	position: fixed;
	left: 0;
	background: #8481F5;
	box-sizing: border-box;
	height: 100%;
}

.patronText {
	font-size: 45px;
}

.windowcolor {
	position: fixed;
	background: white;
	padding-top: 50px;
}

.sidebar ul a{
	display: block;
	height: 100%;
	width: 100%;
	line-height: 100px;
	font-size: 40px;
	font-family: LandaSansMEdium-ALJ6m;
	color: white;
	box-sizing: border-box;
	border-bottom: 5px solid #000000;
}

.buttonposition {
	float: right;
	font-size: 25px;
}

ul li:hover a{
	padding-left: 20px;
}

.iconPadding {
	padding-right: 10px;
}

#dashboardwindow {
	position: absolute;
	visibility: hidden;
}

#patronwindow {
	position: absolute;
	visibility: hidden;
}

#bookwindow {
	position: absolute;
	visibility: hidden;
}

.dashboardchart1 {
	width: 250px;
	height: 250px;
	float: left;
}

.Mfont {
	font-family: LandaSansMEdium-ALJ6m;
	text-align: center
}

.Mfont2 {
	font-family: LandaSansMEdium-ALJ6m;
	text-align: center;
}

.box {
	box-sizing: border-box;
	border: 5px solid #000000;
	float: center;
}

.dashboardchart2 {
	width: 250px;
	height: 250px;
	float: center;
}

.formp {
	float: right;
}

.patronfont {
	font-size: 20px;
}

.btnfontsize {
	font-family: LandaSansMEdium-ALJ6m;
	font-size: 25px;
}

#ModelId {
	z-index: 1;
}