<template>
  <!--BookWindow-->
    <div class="span9">
      <div id="bookwindow">
        <a class="btn btn-large btn-primary patronposition" data-toggle="modal" href="#myModal1" >Add Books</a>
        <div class="modal fade" id="myModal1">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Add Books</h3>
          </div>

          <div class="modal-body">
            <center>
              <h4>Name</h4>
              <input type="text" class="input-large">
              <h4>Author</h4>
              <input type="text" class="input-large">
              <h4>Copies</h4>
              <input type="text" class="input-large">
              <div class="btn-group">
                <button class="btn">--Select Category--</button>
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu"></ul>
              </div>
            </center>
          </div>
              
          <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a href="#" class="btn btn-primary">Save changes</a>
          </div>
        </div>

        <form class="formp well form-search">
          <input type="text" class="input-medium search-query" placeholder="Search Books">
        </form>

        <table class="table table-bordered table1position">
          <thead>
            <tr>
              <th>
                <label class="checkbox">
                  <input type="checkbox">
                </label>
              </th>
              <th>Name</th>
              <th>Author</th>
              <th>Category</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a href="#">Edit</a>
                <br>
                <a href="#">Delete</a>
                <br>
                <a href="#">Borrow</a>
                <br>
                <a href="#">Return</a>
              </td>
              <td>
                <h5>Harry Potter And The Sorcerer's Stone</h5>
              </td>
              <td>
                <h5>JK Rowling</h5>
              </td>
              <td>
                <h5>Fantasy</h5>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#">Edit</a>
                <br>
                <a href="#">Delete</a>
                <br>
                <a href="#">Borrow</a>
                <br>
                <a href="#">Return</a>
              </td>
              <td>
                <h5>A Gamee Of Throwns</h5>
              </td>
              <td>
                <h5>George R. R. Martin</h5>
              </td>
              <td>
                <h5>Fantasy</h5>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--BookWindow-->
</template>

<script>

export default {
  name: 'Book',
  components: {

  }
}
</script>

<style>
@import "../../public/assets/css/custom.css";
</style>