<template>
    <!--Header-->
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="topbar span12">
          <button type="button" class="btn btn-medium btn-danger btnposition">Logout</button>
          <h1 style="font-size: 50px; padding-left: 25px;">Library System</h1>
        </div>
      </div>
    </div>
    <!--Header-->
</template>

<script>

export default {
  name: 'Header',
  components: {

  }
}
</script>

<style>
@import "../../public/assets/css/custom.css";
</style>