<template>
  <!--PatronWindow-->
    <div class="span9">
      <div id="patronwindow">
        <a class="btn btn-large btn-primary patronposition" data-toggle="modal" href="#myModal" >Add Patron</a>
          <div class="modal fade" id="myModal">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">×</button>
              <h3>Add Patron</h3>
            </div>
            <div class="modal-body">
              <center>
                  <h4>First Name</h4>
                  <input type="text" class="input-large">
                  <h4>Middle Name</h4>
                  <input type="text" class="input-large">
                  <h4>Last Name</h4>
                  <input type="text" class="input-large">
                  <h4>Email Address</h4>
                  <input type="text" class="input-large">
              </center>
            </div>
            <div class="modal-footer">
              <a href="#" class="btn" data-dismiss="modal">Close</a>
              <a href="#" class="btn btn-primary">Save changes</a>
            </div>
          </div>

          <form class="formp well form-search">
            <input type="text" class="input-medium search-query" placeholder="Search Patron">
          </form>

          <table class="table table-bordered table1position">
                        <thead>
                            <tr>
                                <th>
                                    <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                </th>
                                <th>Name</th>
                                <th>Email Address</th>
                                <th>Date Registered</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="#">Edit</a>
                                    <br>
                                    <a href="#">Delete</a>
                                </td>
                                <td>
                                    <h5>Vacal, Anton Dale</h5>
                                </td>
                                <td>
                                    <h5>vacalanton@gmail.com</h5>
                                </td>
                                <td>
                                    <h5>May 31, 2000</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">Edit</a>
                                    <br>
                                    <a href="#">Delete</a>
                                </td>
                                <td>
                                    <h5>James, LeBron</h5>
                                </td>
                                <td>
                                    <h5>kingjames@gmail.com</h5>
                                </td>
                                <td>
                                    <h5>April 23, 2020</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">Edit</a>
                                    <br>
                                    <a href="#">Delete</a>
                                </td>
                                <td>
                                    <h5>Bryant, Kobe</h5>
                                </td>
                                <td>
                                    <h5>blackmamba@gmail.com</h5>
                                </td>
                                <td>
                                    <h5>Jan 29, 2000</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">Edit</a>
                                    <br>
                                    <a href="#">Delete</a>
                                </td>
                                <td>
                                    <h5>Jordan, Micheal</h5>
                                </td>
                                <td>
                                    <h5>mj23@gmail.com</h5>
                                </td>
                                <td>
                                    <h5>June 5, 2020</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">Edit</a>
                                    <br>
                                    <a href="#">Delete</a>
                                </td>
                                <td>
                                    <h5>Abdul-Jabbar, Kareem</h5>
                                </td>
                                <td>
                                    <h5>skyhook@gmail.com</h5>
                                </td>
                                <td>
                                    <h5>March 12, 2020</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
      </div>
    </div>
    <!--PatronWindow-->
</template>

<script>

export default {
  name: 'Patron',
  components: {

  }
}
</script>

<style>
@import "../../public/assets/css/custom.css";
</style>