<template>
  <!--Sidebar-->
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="sidebar span3">
          <ul>
              <li><router-link tag="a" to="/"><img class="iconPadding" src="assets/img/dashboard.svg" width="80px" height="80px">Dashboard</router-link></li>
              <li><router-link tag="a" to="/patrons"><img class="iconPadding" src="assets/img/patron.svg" width="80px" height="80px">Patron Management</router-link></li>
              <li><router-link tag="a" to="/books"><img class="iconPadding" src="assets/img/book.svg" width="80px" height="80px">Book Management</router-link></li>
              <li><a href=""><img class="iconPadding" src="assets/img/settings.svg" width="80px" height="80px">Settings</a></li>
          </ul> 
        </div>
      </div>
    </div>
  <!--Sidebar--> 
</template>

<script>
import '../router/index.js'
export default {
  name: 'Sidebar',
  components: {

  }
}
</script>

<style>
@import "../../public/assets/css/custom.css";
</style>
