<template>
  <div id="app">
    <Header />
    <Sidebar />
    <router-view />
  </div>
</template>

<script>
import Header from './components/Header'
import Sidebar from './components/Sidebar'

export default {
  name: 'App',
  components: {
    Header,
    Sidebar
  }
}
</script>

<style>
@import "../public/assets/css/custom.css";
</style>
