body {
	margin: 0;
}
li {
	font-family: Quicksand;
}
p {
	font-family: Quicksand;
	font-size: 1.3vw;
}
@font-face {
	font-family: Quicksand;
	src: url(quicksand-bold.ttf);
} 
.logo {
	font-family: Quicksand;
	text-align: center;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 8vw;
	position: absolute;
}
.main-image {
	background-image: url('../img/main.jpg');
	height: auto;
	max-width: 100%;
	padding-top: 42%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.photo {
	background-image: url('../img/3rdphoto.jpg');
	height: auto;
	padding-top: 42%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
h1 {
	font-family: Quicksand;
	color: black;
	font-size: 2.5rem;
	position: absolute;
	bottom: 55%;
	left: 38.9%;
}
h2 {
	font-family: Quicksand;
	color: white;
	font-size: 2.5vw;
	position: absolute;
	bottom: 5%;
	left: 48%;
}
h3 {
	font-family: Quicksand;
	font-size: 2vw;
}
a {
	font-family: Quicksand;
}
.text-responsive {
  font-size: calc(100% + 1vw + 1vh);
}
